<div class="container mt-5">
    <div style="text-align: center;">

        @if (!registerMode) {
            
            <h1>Procure seu Match</h1>
            <p class="lead">Encontre o perfil ideal para si mesmo</p>
            <div class="tex-center">
                <button (click)="registerToggle()" class="btn btn-primary btn-lg me-2">Registrar</button>
                <button class="btn btn-info btn-lg me-2">Leia mais</button>
            </div>

        }@else{

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-4">
                        <app-register 
                            (cancelRegister)="cancelRegisterMode($event)"
                        ></app-register>
                    </div>
                </div>
            </div>
        }

    </div>


</div>